{% extends "main/main.html" %}

{% block content %}
    {% if form.errors %}
        <div class="alert-danger text-center">Your username and password didn't match. Please try again.</div>
    {% endif %}
    <form method="post" action="{% url 'login' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Логин</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Логин">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Пароль</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Пароль">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" value="login">Войти</button>
            </div>
        </div>
        <input type="hidden" name="next" value="{% url 'group_table' %}"/>
    </form>

{% endblock %}